/* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* colors */
/* body */


.diffs-section-inner {
  background: rgba(0, 0, 0, 0.9);
}
.diffs-table {
  background: url(../img/diffs-table-bckgrnd.jpg);
  font-family: "Open Sans", sans-serif;
  line-height: 1;
        background-size: 100% 100%, cover;
		display:block;
    width:100%;
}

.diffs-table-fixed-h {
	 height:900px;
}

.diffs-table *, .diffs-table *::before, .diffs-table *::after {
  box-sizing: content-box !important;
}

/* links */
.diffs-section-wrapper .diffs-section-nfl a,
.diffs-section-wrapper .diffs-section-mlb a,
.diffs-section-wrapper .diffs-section-nhl a,
.diffs-section-wrapper .diffs-section-pga a {
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.diffs-section-wrapper .diffs-section-nfl a {
  color: #4fc0d2;
}

.diffs-section-wrapper .diffs-section-nfl a:hover {
  color: #268695;
}

.diffs-section-wrapper .diffs-section-mlb a {
  color: #52d29a;
}

.diffs-section-wrapper .diffs-section-mlb a:hover {
  color: #279766;
}

.diffs-section-wrapper .diffs-section-nhl a {
  color: rgba(231, 196, 104, 0.7);
}

.diffs-section-wrapper .diffs-section-nhl a:hover {
  color: rgba(201, 154, 32, 0.7);
}

.diffs-section-wrapper .diffs-section-pga a {
  color: #eb7655;
}

.diffs-section-wrapper .diffs-section-pga a:hover {
  color: #c33d17;
}

/* wrapper */
.diffs-section-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 100px auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: relative;
}

/* lists */
.diffs-section-wrapper .diffs-section-row ul {
  margin: 10px;
  padding: 0;
}

.diffs-section-wrapper .diffs-section-row ul li {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  display: inline-block;
  width: 33.3%;
  box-sizing: border-box !important;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .diffs-section-wrapper .diffs-section-row ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 479px) {
  .diffs-section-wrapper .diffs-section-row ul li {
    font-size: 13px;
  }
}

.diffs-section-wrapper .diffs-section-title ul li {
  padding: 15px 13px;
}

.diffs-section-wrapper .diffs-section-row ul li {
  padding: 5px 10px;
}

/* rows */
.diffs-section-wrapper .diffs-section-row {
  padding: 20px 0;
  height: 30px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.diffs-section-wrapper .diffs-section-row:hover {
  background-color: rgba(26, 26, 26, 0.9);
  height: 65px;
}
@media only screen and (max-width: 767px) {
  .diffs-section-wrapper .diffs-section-row:hover {
    height: 85px;
  }
}
@media only screen and (max-width: 359px) {
  .diffs-section-wrapper .diffs-section-row:hover {
    height: 105px;
  }
}

.diffs-section-wrapper .diffs-section-title {
  padding: 25px 0 5px 0;
  height: 45px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.diffs-section-wrapper .diffs-section-title:hover {
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 767px) {
  .diffs-section-wrapper .title-hide {
    display: none;
  }
}

.diffs-section-wrapper .diffs-section-nfl {
  border-left: 3px solid #1c616c;
}

.diffs-section-wrapper .diffs-section-nfl:hover {
  border-left: 3px solid #4fc0d2;
}

.diffs-section-wrapper .diffs-section-mlb {
  border-left: 3px solid #1d6e4b;
}

.diffs-section-wrapper .diffs-section-mlb:hover {
  border-left: 3px solid #52d29a;
}

.diffs-section-wrapper .diffs-section-nhl {
  border-left: 3px solid rgba(157, 121, 25, 0.7);
}

.diffs-section-wrapper .diffs-section-nhl:hover {
  border-left: 3px solid rgba(231, 196, 104, 0.7);
}

.diffs-section-wrapper .diffs-section-pga {
  border-left: 3px solid #952f12;
}

.diffs-section-wrapper .diffs-section-pga:hover {
  border-left: 3px solid #eb7655;
}

/* row one - fadeIn */
.diffs-section-wrapper .row-fadeIn-wrapper {
  opacity: 0;
  font-size: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  animation: diffs-wrapper-fadeIn 0.4s ease-out 2s 1 alternate;
  animation-fill-mode: forwards;
}

.diffs-section-wrapper .row-fadeIn-wrapper:hover {
  height: 35px;
}
@media only screen and (max-width: 767px) {
  .diffs-section-wrapper .row-fadeIn-wrapper:hover {
    height: 55px;
  }
}
@media only screen and (max-width: 359px) {
  .diffs-section-wrapper .row-fadeIn-wrapper:hover {
    height: 75px;
  }
}

.diffs-wrapper-fadeIn {
  padding: 20px 0;
  font-size: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.diffs-wrapper-fadeIn:hover {
  background-color: rgba(26, 26, 26, 0.9);
}

/* row two - fadeOut */
.diffs-section-wrapper .row-fadeOut-wrapper {
  font-size: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;
  animation: diffs-wrapper-fadeOut 0.4s ease-out 8s 1 alternate;
  animation-fill-mode: forwards;
  opacity: 1;
  height: 65px;
}

.diffs-section-wrapper .row-fadeOut-wrapper:hover {
  height: 100px;
}

/* update content */
.diffs-section-wrapper .diffs-section-update-row {
  animation: diffs-wrapper-update 0.5s ease-out 12s 1 alternate;
}

.diffs-wrapper-update1 {
  position: absolute;
  top: 25px;
  display: inline-block;
  opacity: 1;
  animation: diffs-wrapper-update1 1s ease-out 12s 1 alternate;
  animation-fill-mode: forwards;
}

.diffs-wrapper-update2 {
  position: absolute;
  top: 25px;
  display: inline-block;
  opacity: 0;
  animation: diffs-wrapper-update2 4s ease-out 13s 1 alternate;
  animation-fill-mode: forwards;
}

/* more content */
.diffs-section-wrapper ul.diffs-section-more-content li {
  position: relative;
  top: 8px;
  font-size: 13px;
  margin: 0;
  padding: 10px 13px;
  display: block;
  height: 50px;
  width: 100%;
  color: rgba(128, 128, 128, 0.9);
}
@media only screen and (max-width: 767px) {
  .diffs-section-wrapper ul.diffs-section-more-content li {
    font-size: 11px;
  }
}

/* small content */
.diffs-section-wrapper .diffs-section-small {
  color: rgba(102, 102, 102, 0.9);
  font-size: 10px;
  padding: 0 10px;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .diffs-section-wrapper .diffs-section-small {
    display: none;
  }
}
.diffs-section-disabled {
  pointer-events: none;  /**<-----------*/
}
.diffs-section-logo-title {
  height: 36px;
  margin-top: -10px;
}


/* keyframe animations */
@keyframes diffs-wrapper-fadeIn {
  from {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    padding: 0;
  }
  to {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    padding: 0 0 65px 0;
  }
}
@keyframes diffs-wrapper-fadeOut {
  from {
    background: rgba(51, 51, 51, 0.1);
    opacity: 1;
    height: 65px;
  }
  to {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    height: 0;
  }
}
@keyframes diffs-wrapper-update {
  0% {
    background: rgba(51, 51, 51, 0.1);
  }
  50% {
    background: rgba(255, 255, 255, 0.1);
  }
  100% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@keyframes diffs-wrapper-update1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes diffs-wrapper-update2 {
  0% {
    opacity: 0;
    color: rgba(255, 255, 255, 0.9);
  }
  20% {
    opacity: 1;
    color: #52d29a;
  }
  100% {
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
  }
}
