

// Semantic color scheme
$theme-colors: (
  primary: #333,
  secondary: #34be79,
  success: #28a745,
  info: #2c3a55,
  warning: #ffc107,
  danger: #dc3545,
  light: #f8f8f8,
  dark: #222222,
mycolor: #000000,
mydarkblue:#2c3a55
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
 
$enable-rounded:            true !default;
$enable-shadows:            false;
$enable-gradients:          true;
$enable-transitions:        true !default;
$enable-hover-media-query:  true !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

// Variables
//
// Theme settings.

$body-bg: white;
$body-color: #292b2c;
$body-color-inverse: invert($body-color) !default;
$link-color: #34be79;



$font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-h1: 2.5 * $font-size-base;
$font-size-h2: 2 * $font-size-base;
$font-size-h3: 1.75 * $font-size-base;
$font-size-h4: 1.5 * $font-size-base;
$font-size-h5: 1.25 * $font-size-base;
$font-size-h6: $font-size-base;

$display1-size: 6 * $font-size-base;
$display2-size: 5.5 * $font-size-base;
$display3-size: 4.5 * $font-size-base;
$display4-size: 3.5 * $font-size-base;
$display5-size: 2.5 * $font-size-base;

$border-radius: .25rem;


@import 'bootstrap-4.0.0-beta.1';


body > * {
  background-size: cover;
}

a:hover{text-decoration:none}
button:hover{cursor:pointer!important}
.list-group-item.active {    border-color: transparent;}
bloquote{
    position: absolute;
    font-size: 40px;
    bottom: -40px;
    right: 13%;
    width: 80%;
    line-height: 1.2;
      text-shadow: 0px -1px 15px #000;
}

.piecolor-light-green{color:#3ab347;}
.piecolor-dark-green{color:#2f914b;}
.piecolor-dark-blue{color:#49b0e3;}
.piecolor-light-blue{color:#42c5de;}

@-webkit-keyframes 
	jump{
		
	from{transform:translateY(0);
	-webkit-transform:translateY(0);
	-o-transform:translateY(0);
	-moz-transform:translateY(0)}
	
	to{transform:translateY(10px);
	-webkit-transform:translateY(10px);
	-o-transform:translateY(10px);
	-moz-transform:translateY(10px)	}
	
	}
	
	@keyframes 
	jump{
		
	from{transform:translateY(0);
	-webkit-transform:translateY(0);
	-o-transform:translateY(0);
	-moz-transform:translateY(0)}
	
	to{transform:translateY(10px);
	-webkit-transform:translateY(10px);
	-o-transform:translateY(10px);
	-moz-transform:translateY(10px)}
	}
	
.mw-75{width:100px;max-width:100px}

.blink-arr{
	    position: absolute;
	    top: 0;
	    left: 50%;
	    margin-left: -80px;
	    width: 160px;
	    height: 90px;
}

.blink-arr:after{
	display: table;
	margin: 0px auto 0 auto;
	-webkit-animation: jump .4s linear alternate infinite;
	animation: jump .4s linear alternate infinite;
  font-family: FontAwesome;    content: "\f103";  
line-height:1;
	-webkit-font-smoothing: antialiased;
	color: #ffffff;
	font-size:65px;
}
.hr-line{}
.hr-line:after{
	content:"";
	width: 60px;
	height: 4px;
	border-radius: 4px;
	background: #34be79;
	display: block;
	position: absolute;
	left: 50%;
	top: 70px;
	margin-left: -30px;
}

.pietable td img{
border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 12px rgba(50, 150, 100, 0.29);
  width:20px;height:20px;
}

.pietable td {vertical-align: middle;}


.opaque-overlay-50 {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: rgba(map-get($theme-colors, 'mycolor'), 0.70);
  }
}


.opaque-overlay-25 {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: rgba(map-get($theme-colors, 'dark'), 0.25);
  }
}

.opaque-overlay-15 {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: rgba(map-get($theme-colors, 'dark'), 0.15);
  }
}



.gradient-overlay-primary {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: linear-gradient(to bottom , map-get($theme-colors, 'primary') 20%, transparent 80%);
  }
}

.gradient-overlay-secondary {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: linear-gradient(to bottom , map-get($theme-colors, 'secondary') 20%, transparent 80%);
  }
}

.gradient-overlay-dark {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: linear-gradient(to bottom , map-get($theme-colors, 'dark') 20%, transparent 80%);
  }
}

.gradient-overlay-info {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: linear-gradient(to bottom , map-get($theme-colors, 'info') 20%, transparent 80%);
  }
}



.list {
  list-style:none
}

.list li{
list-style:none;
  display:inline-block;
  width:19%;
  vertical-align:top;
}

#trigger1{display:none;}
li.active #trigger1,
{display:block;white-space:normal;}
li.list-group-item.active{background:#34be79}
.lisTtoggle li{cursor:pointer;white-space:normal;padding-right:40px;}
.lisTtoggle li:after{font-family: FontAwesome;    content: "\f078";    float: right;    position: absolute;    right: 15px;    top: 10px;}
.lisTtoggle li.active:after{content: "\f077";}

.sticky-top {
   padding-right: 0!important;
}

    .modal.fade .modal-dialog {
    transform: translate(0, 30%);
    }
  .modal.show .modal-dialog {
    transform: translate(0, 30%);
    }

@media (max-width: 576px) {
  
  .display-4{font-size:2.7em}
  .navbar-collapse{font-size:1.2em}
  .nav-item{max-width:160px;margin-left:auto;margin-right:auto}
   bloquote{font-size:24px}
    
    .modal.fade .modal-dialog {
    transform: translate(0, 100%);
    }
  .modal.show .modal-dialog {
    transform: translate(0, 100%);
    }
  
  a.whitepaper {
    outline: 0;
    display: block;
    width: 160px;
    margin: 0 auto 7px auto;
    font-size: 1em;
} 
  
}
  button.navbar-toggler{border:0;}
 button.navbar-toggler:focus{outline:0}
.bankera{background:#61d1b2}

.dropdown-menu{
  right:0;
  min-width:2em;
  left:auto;
}
.fb{color:#3b5998}
.ln{color:#0076b7}

button.close {
    top: 0;
    right: 0;
    margin-right: 10px;
    position: absolute;
}

.btn:focus{box-shadow:0}
#bountieslink{height:1px;padding:0;margin:0;}

.withico:hover i.text-secondary{color:#fff!important;}

.dropdown-toggle::after {
 
   margin-left: 0; 
  vertical-align: middle;
 
  }

