/* ------------------------------------------------------------ *\
   Card
\* ------------------------------------------------------------ */


.card_grid {
    max-width: 277px;
    height: 377px;
    display: block;
    margin: 20px auto;
    position: relative;
   
    
}
.card-wrapper {
    padding: 20px;
}
.front {
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.2);
    -moz-border-radius: 10px 10px 0 10px;
    border-radius: 10px 10px 0 10px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom:0;
        right: 0;
        border-style: solid;
        background: #efefef;
        display: block;
        width: 0;
        border-width: 18px;
        border-color: #dcdcdc #efefef #efefef #dcdcdc;
        -moz-border-radius: 10px 0 0 0;
        border-radius: 10px 0 0 0;
        // box-shadow: -1px -1px 1px rgba(0,0,0,0.3), 0 0 0 rgba(0,0,0,0.2);
    } 
}
.head_part {
    padding: 10px 0 0;
    text-align: center;
    & img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
}
.middle_part {
    text-align: center;
    & h2 {
        font-family: $font-family;
        color: $dark;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        margin: 5px 0 0;
    }
    & h3 {
        font-family: $font-family;
        color: $dark;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    & img {
        margin: 10px 0;
    }
}
.foot_part {
    font-family: $font-family;
    color: $dark;
    font-size: 15.5px;
    line-height: 25px;
    text-align: center;
}
.linkedIn {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
}
.back {
    border: 1px solid #dcdcdc;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    font-family: $font-family;
    color: $dark;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    & .back_head {
        text-align: center;
    }
    & p {
        padding-top: 5px;
    }
    // &.small {
    //     font-size: 15px;
    //     line-height: 18px;
    // }
    &:before {
        content: "";
        position: absolute;
        bottom:0;
        left: 0;
        border-style: solid;
        background: transparent;
        display: block;
        width: 0;
        border-width: 18px;
        border-color: #efefef  #efefef #efefef  #efefef;
        -moz-border-radius: 0 0 0 10px;
        border-radius: 0 0 0 10px;
        z-index: -1;
    } 
}

@media #{$tablet} {
    .card_container {
        overflow: hidden;
        width: 640px;
        margin: 0 auto;
    }
    .card_grid {
        width: 277px;
        float: left;
        display: inline-block;
        margin: 20px;
    }
}
@media #{$tablet1} {
    .card_container {
        width: 955px;
    }
}

@media #{$desktop} {
    .card_container {
        width: 100%;
    }  
}