/* ------------------------------------------------------------ *\
   Widget
\* ------------------------------------------------------------ */
.label {
    position: absolute;
    top: -6%;
    left: 10%;
    background: $green;
    display: inline-block;
    min-width: 240px;
    height: 60px;
    line-height: 60px;
    & p {
        color: $white;
        font-size: 18px;
        text-transform: uppercase;
        font-family: $font-family;
        letter-spacing: 1px;
    }
}
.chat_icon {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 999999;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
    & .telegram_chat {
        cursor: pointer;
    }
}
.right-direction{
    width:70px; 
    height:3px; 
    background: linear-gradient(to right, #0f7076 0%, #06ba70 100%);
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    & .arrow-right {
        width: 0; 
        height: 0; 
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $green2;
        float:right;
        margin-top:-6px;
        margin-right:-7px;
    }
}
@media #{$tablet2} {
    .widget {
        display: inline-block;
        text-align: center;
        width: 20px;
        position: absolute;
        top: 0;
        left: 20px;
        & .rotate{
            writing-mode: vertical-rl;
            text-align: center;
            transform:rotate(180deg);
            color:$dark;
            &.white {
                color: $white;
            }
        }

        & .blinking-line {
            margin-bottom: 5px;
            width: 2px;
            height: 30px;
            display: inline-block;
            background: $green2;
        }
    }
}


