/*  background  */

.viejo.default.pagebg {
	background-image: url(assets/viejo-pagebg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #FFF;
}
/****************/
/* neo main nav */
/****************/
.viejo.default .navigation-2-plugin .neo-asset-inner ul {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
}
.viejo.default .navigation-2-plugin .neo-asset-inner > ul > li {
	padding:0px;
	font-size: 18px;
	background-color:transparent;
	margin-right: 35px;
}
.viejo.default .navigation-2-plugin .neo-asset-inner > ul > li > a {
	color: #000;
}
.viejo.default .navigation-2-plugin .neo-asset-inner > ul > li.k-state-hover {
	font-size: 18px;
	background-color:transparent;
}
.viejo.default .navigation-2-plugin .neo-asset-inner > ul > li.k-state-hover > a {
	color: #cbcbcb;
}
.viejo.default .navigation-2-plugin .neo-asset-inner > ul > li.k-state-active {
	font-size: 18px;
	background-color:transparent;
}
.viejo.default .navigation-2-plugin .neo-asset-inner > ul > li.k-state-active > a {
	color: #cbcbcb;
}
/***************/
/* neo sub nav */
/***************/
.viejo.default .navigation-2-plugin.sub-nav-fixed-plugin ul ul > li {
width: 130px;
}
.viejo.default .navigation-2-plugin ul ul > li {
	padding: 10px;
	margin-top: 3px;
	background-color: #DD1D0A;
	font-size: 18px;
	text-align: left;
}
.viejo.default .navigation-2-plugin ul ul > li > a {
	color: #FFF;
}
.viejo.default .navigation-2-plugin ul ul > li.k-state-hover {
	background-color: #e5e5e5;
	font-size: 18px;
	text-align: left;
}
.viejo.default .navigation-2-plugin ul ul > li.k-state-hover > a {
	color: #DD1D0A;
}
.viejo.default .navigation-2-plugin ul ul > li.k-state-active {
	background-color: #e5e5e5;
	font-size: 18px;
	text-align: left;
}
.viejo.default .navigation-2-plugin ul ul > li.k-state-active > a {
	color: #DD1D0A;
} 
/****************/
/* END NEO NAV2 */
/****************/
/* header logo */
.viejo.default .company-name {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 48px;
	color: #d40000;
	line-height: 55px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.viejo.default .slogan {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 24px;
	font-weight: normal;
	letter-spacing: 0.7em;
	padding-left: 5px;
	margin: 0px;
}
/* text styles */


.viejo.default {
	font-size: 18px;
}
.viejo.default p {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 16px;
	color: #8a8484;
	line-height: 30px;
	font-weight: 400;
}
.viejo.default .copy li {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 16px;
	color: #8a8484;
	list-style-position: outside;
	list-style-image: url(assets/bullet.png);
}
.viejo.default ul, .viejo.default ol {
	font-family: 'Ubuntu Mono', 'Ubuntu', "sans serif";
	font-weight: 400;
	font-size: 16px;
	color: #8a8484;
	line-height: 30px;
}
.viejo.default h1 {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 48px;
	color: #4f4644;
	margin: 0px;
	padding: 0px;
}
.viejo.default h2 {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 24px;
	color: #d40000;
	font-weight: 400;
}
.viejo.default h3 {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 20px;
	color: #d40000;
}
.viejo.default h4 {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 18px;
	color: #d40000;
	font-weight: 400;
}
.viejo.default h5 {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 16px;
	color: #000000;
	font-weight: 400;
}
.viejo.default h6 {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 14px;
	color: #333333;
}
.viejo.default .border-1 {
	border: 1px solid #e2dede;
}
.viejo.default .border-2 {
	border: 1px solid #e2dede;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.viejo.default .center-align {
	text-align: center;
}
.viejo.default .footer-txt {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
	font-size: 14px;
	color: #8a8484;
}
.viejo.default a {
	color: #000000;
}
.viejo.default input.form-element[type='submit'] {
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
}
.viejo.default .form-element-label {
	color: #727272;
}
.viejo.default .personName-label {
	color: #727272;
}
.viejo.default #FormHeading-id {
	display: none;
}
/* inputs & textarea*/
.viejo.default div[id^='webcom-component-form'] > table form input[type="text"], .viejo.default div[id^='webcom-component-form'] > table form textarea, .viejo.default div[id='preview_id_only'] > table form input[type="text"], .viejo.default div[id='preview_id_only'] > table form textarea {
	border: 1px solid #e2dede !important;
	background: #FFFFFF !important;
	color: #000000 !important;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
/*labels*/
.viejo.default div[id^='webcom-component-form'], .viejo.default div[id='preview_id_only'] {
	font-size: 16px;
	font-family: 'Ubuntu Mono', 'Ubuntu', sans serif;
}
/*submit*/
.viejo.default div[id^='webcom-component-form'] > table form input[type="submit"], .viejo.default div[id='preview_id_only'] > table form input[type="submit"] {
	font-size: 16px;
	padding: 5px;
	background: #d40000 !important;
	border: none !important;
	color: #fff;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
/*ul fix for big font size*/
.viejo.default .text-plugin ul,
.viejo.default .text-plugin ol{
	padding: 0;
}
.viejo.default .text-plugin li{
	list-style-position: inside;
}