/* ------------------------------------------------------------ *\
	Sprite
\* ------------------------------------------------------------ */

[class^="ico-"] {
	background-image: url("../css/images/all_sprites.png");
	display: inline-block;
	vertical-align: middle;
}

.ico-num-2 {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
    width: 27px;
    height: 30px;
    border: none;
	box-shadow: 0 0 0 0 rgba(101, 212, 166, 0.1);
    border-radius: 50%;
    background-position:  -10px -99px;
    background-repeat: no-repeat;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.ico-num-3 {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
    width: 41px; 
    height: 30px;
    background-position:  -101px -10px;
    border: none;
	box-shadow: 0 0 0 0 rgba(101, 212, 166, 0.1);
    background-repeat: no-repeat;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}


.num-2:hover,
.num-3:hover{
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
@-webkit-keyframes pulse {
    to {box-shadow: 0 0 0 45px rgba(101, 212, 166, 0);}
}
@-moz-keyframes pulse {
    to {box-shadow: 0 0 0 45px rgba(101, 212, 166, 0);}
}
@-ms-keyframes pulse {
    to {box-shadow: 0 0 0 45px rgba(101, 212, 166, 0);}
}
@keyframes pulse {
    to {box-shadow: 0 0 0 45px rgba(101, 212, 166, 0);}
}

.ico-star {
    width: 71px; 
    height: 69px;
    background-position:  -10px -10px;
}
.ico-linkIn {
    width: 25px; 
    height: 25px;
    background-position: -162px -104px;
}
.ico-perspective {
    width: 27px; 
    height: 16px;
    background-position:  -101px -60px;
}
.ico-next {
    width: 17px; 
    height: 28px;
    background-position:  -209px -10px;
}
.ico-prev {
    width: 17px; 
    height: 28px;
    background-position:  -209px -58px;
}
.ico-github{
    width: 27px; height: 27px;
    background-position:  -57px -99px;
}

.ico-reddit {
    width: 27px; height: 27px;
    background-position:  -104px -99px;
}
.ico-twitter{
    width: 27px; height: 27px;
    background-position:  -162px -10px;
}
.ico-facebook {
    width: 27px; height: 27px;
    background-position:  -162px -57px;
}
.ico-youtube {
    width: 27px; height: 27px;
    background-position:  -10px -149px;
}
.ico-linkedin{
    width: 27px; height: 27px;
    background-position:  -57px -149px;
}
.ico-medium{
    width: 27px; height: 27px;
    background-image:  -104px -149px;
}