/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */
.header {
    & .header_wrapper {
        & .logo {
            display: inline-block;
            width: 100px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
        & .logo-fixed {
            display: none;
        }
    }
    position: relative;
    z-index: 99;
    height: 60px;
}
.header_wrapper {
    padding: 5px 0 15px;
    // padding-top: 20px;
    overflow: hidden;
}
.logo,
.logo-fixed {
    // float: left;
    float: none;
}
.social_icons-header {
    display: none;
}
.list_icons_header_mobile,
.lang_list_mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    & li {
        padding-right: 5px;
        padding-left: 5px;
    }
}
.header.header-fixed {
    position: fixed;
    background: $white;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 11;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);
    animation:slide-down 0.7s;
    & .header_wrapper {
        // padding-bottom: 20px;
        & .logo {
            display: none;
        }
        & .logo-fixed {
            display: inline-block;
            width: 100px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
        & .nav {
            color: $darkgray1;
            &.active {
                color: $white;
            }
            & .menu a:hover {
                color: $green2;
            }
        }
        & .nav_trigger {
            width: 16px;
            height: 16px;
            & span {
                background: $darkgray1;
            }
            &.active{
                & span {
                    background: $white;
                }
            }
        }
        & .lang_bar {
            color: $darkgray1;
            & .selected {
                font-size: 16px;
                line-height: 18px;
                font-weight: 400;
                position: relative;
                margin-right: 5px;
                &:hover {
                    color: $green2;
                }
            }
            & .lang_list {
                position: absolute;
                display: none;
                width: 30px;
                line-height: 25px;
                top: 85px;
                & a {
                    display:block;
                }
                &:hover {
                    color: $green2;
                }
                &.active {
                    display: block;
                }

            }

            
            & .lang_btn {
                display: none;
            }  
            & .lang_btn-fixed {
                display: inline-block;
                &:after {
                    background: $darkgray1;  
                }
            }  
        }
        & .list_icons_header {
            display: none;
        }
        & .list_icons_header-fixed {
            display:inline-block;
            float: right;
             padding-top: 14px;
            // padding-top: 39px;
            padding-right: 7px;
            cursor: pointer;
            & .social-1 {
                background-image: url("../css/images/gray-1.png");
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 27px;
                &:hover {
                    background-image: url("../css/images/green-1.png");
                }
            }
            & .social-2 {
                background-image: url("../css/images/gray-2.png");
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 27px;
                &:hover {
                    background-image: url("../css/images/green-2.png");
                }
            }
            & .social-3 {
                background-image: url("../css/images/gray-3.png");
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 27px;
                &:hover {
                    background-image: url("../css/images/green-3.png");
                }
            }
            & .social-4 {
                background-image: url("../css/images/gray-4.png");
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 27px;
                &:hover {
                    background-image: url("../css/images/green-4.png");
                }
            }
            & .social-5 {
                background-image: url("../css/images/gray-5.png");
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 27px;
                &:hover {
                    background-image: url("../css/images/green-5.png");
                }
            }
            & .social-6 {
                background-image: url("../css/images/gray-6.png");
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 27px;
                &:hover {
                    background-image: url("../css/images/green-6.png");
                }
            }
            & .social-7 {
                background-image: url("../css/images/gray-7.png");
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 27px;
                &:hover {
                    background-image: url("../css/images/green-7.png");
                }
            }
            & .social-8 {
                background-image: url("../css/images/gray-8.png");
                background-repeat: no-repeat;
                display: inline-block;
                width: 27px;
                height: 27px;
                &:hover {
                    background-image: url("../css/images/green-8.png");
                }
            }
        }
    }
    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        } 
        100% {
            opacity: 0.9;
            transform: translateY(0);
        } 
    }
}
@media #{$tablet2} {
    .header {
        & .header_wrapper {
            padding: 5px 0;
            & .logo {
                display: inline-block;
                width: 116px;
                position: static;
                float: left;
            }
            & .logo-fixed {
                display: none;
            }
            & .lang_bar {
                & .lang_btn {
                    display: inline-block;
                }  
                & .lang_btn-fixed {
                    display: none;
                }  
            }
            & .list_icons_header {
                display: inline-block;
            }
            & .list_icons_header-fixed {
                display: none;
            }
        }
    }
        
    .header.header-fixed {
        & .header_wrapper {
            & .logo-fixed {
                display: inline-block;
                width: 116px;
                position: static;
                float: left;
            }
        }
    }
    
    .list_icons_header_mobile,
    .lang_list_mobile {
        display: none;
    }
    .social_icons-header {
        display: inline-block;
        float: right;
        
        & .lang_bar {
            float: left;
            display: inline-block;
            color: $white;
            text-transform: uppercase;
            padding-top: 45px;  
            margin-right: 10px;
            & .selected {
                font-size: 16px;
                line-height: 18px;
                font-weight: 400;
                position: relative;
                margin-right: 5px;
                &:hover {
                    color: $yellow;
                }
            }
            & .lang_list {
                position: absolute;
                display: none;
                width: 30px;
                line-height: 25px;
                top: 85px;
                & a {
                    display: block;
                    
                }
                &:hover {
                    color: $yellow;
                }
                &.active {
                   display:block;
                }
            }
            & .lang_btn,
            & .lang_btn-fixed {
                width: 30px;
                height: 30px;
                display: inline-block;
                position: relative; 
                cursor: pointer;
                &:after {
                    background: $white;
                    bottom: 5px;
                    content: " ";
                    position: absolute;
                    width: 1px;
                    height: 30px;
                    left: 28px;
                }
            }  
        } 
    } 
    
    .list_icons_header {
        float: right;
        padding-top: 14px;
        // padding-top: 39px;
        padding-right: 7px;
        cursor: pointer;
        & .social-1 {
            background-image: url("../css/images/white-1.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 27px;
            height: 27px;
        }
        & .social-2 {
            background-image: url("../css/images/white-2.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 27px;
            height: 27px;
        }
        & .social-3 {
            background-image: url("../css/images/white-3.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 27px;
            height: 27px;
        }
        & .social-4 {
            background-image: url("../css/images/white-4.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 27px;
            height: 27px;
        }
        & .social-5 {
            background-image: url("../css/images/white-5.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 27px;
            height: 27px;
        }
        & .social-6 {
            background-image: url("../css/images/white-6.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 27px;
            height: 27px;
        }
        & .social-7 {
            background-image: url("../css/images/white-7.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 27px;
            height: 27px;
        }
        & .social-8 {
            background-image: url("../css/images/white-8.png");
            background-repeat: no-repeat;
            display: inline-block;
            width: 27px;
            height: 27px;
        }
    }
}
