/* ------------------------------------------------------------ *\
   Roadmap
\* ------------------------------------------------------------ */
.section_roadmap {
    position: relative;
    & .scrolling-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 420px;
        padding-top: 45px;
    }
    & .road-wave-mobile {
        background: url("../css/images/map-wave.png");
        min-height: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        width: 640px;
        margin: 0 auto;
        & .map {
            writing-mode: horizontal-tb;
            line-height: 66px;
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background: $gray1;
            display: inline-block;
            color: $green;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            &.up {
                transform: rotate(-180deg);
            } 
        }
        & .circle1 {
            writing-mode: vertical-rl;
            position: absolute;
            left: 3.4%;
            top: 40%;
        }
        & .circle2 {
            writing-mode: tb-rl;
            transform: rotate(180deg);
            position: absolute;
            top: 6%;
            left: 17.4%;
        }
        & .circle3 {
            writing-mode: vertical-lr;
            position: absolute;
            left: 31%;
            top: 40%;
        }
        & .circle4 {
            writing-mode: tb-rl;
            transform: rotate(180deg);
            position: absolute;
            left: 45%;
            top: 6%;
        }
        & .circle5 {
            writing-mode: vertical-lr;
            position: absolute;
            left: 58.8%;
            top: 40%;
        }
        & .circle6 {
            writing-mode: tb-rl;
            transform: rotate(180deg);
            position: absolute;
            left: 72.8%;
            top: 6%;
        }
        & .circle7 {
            writing-mode: vertical-lr;
            position: absolute;
            left: 86.5%;
            top: 40%;
        }
    }
    & .road-wave {
        display: none;
        background: url("../css/images/map-wave.png");
        min-height: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        width: 640px;
        margin: 0 auto;
        & .map {
            writing-mode: horizontal-tb;
            line-height: 66px;
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background: $gray1;
            display: inline-block;
            color: $green;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            &.up {
                transform: rotate(-180deg);
            } 
        }
        & .circle1 {
            writing-mode: vertical-rl;
            position: absolute;
            left: 3.4%;
            top: 40%;
        }
        & .circle2 {
            writing-mode: tb-rl;
            transform: rotate(180deg);
            position: absolute;
            top: 6%;
            left: 17.4%;
        }
        & .circle3 {
            writing-mode: vertical-lr;
            position: absolute;
            left: 31%;
            top: 40%;
        }
        & .circle4 {
            writing-mode: tb-rl;
            transform: rotate(180deg);
            position: absolute;
            left: 45%;
            top: 6%;
        }
        & .circle5 {
            writing-mode: vertical-lr;
            position: absolute;
            left: 58.8%;
            top: 40%;
        }
        & .circle6 {
            writing-mode: tb-rl;
            transform: rotate(180deg);
            position: absolute;
            left: 72.8%;
            top: 6%;
        }
        & .circle7 {
            writing-mode: vertical-lr;
            position: absolute;
            left: 86.5%;
            top: 40%;
        }
    }
    
    & .ellipse1 {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #05bb70;
        margin: 7px 0;
    }
    & .ellipse2 {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #09a372;
    }
    & .ellipse3 {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #0b9173;
        margin: 7px 0;
    }
    & .ellipse4 {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #0d7e75;
    }
    & .circle_text1 {
        writing-mode: tb-rl;
        transform: rotate(270deg);
        display: inline-block;
        position: absolute;
        bottom: -105px;
        left: 59px;
        font-size: 18px;
        color: $black;
        font-weight: 400;
    }
    & .circle_text2 {
        writing-mode: initial;
        transform: rotate(180deg);
        display: inline-block;
        position: absolute;
        top: 170px;
        left: -23px;
        font-size: 18px;
        color: $black;
    }
    & .circle_text3 {
        writing-mode: tb-rl;
        transform: rotate(270deg);
        display: inline-block;
        position: absolute;
        bottom: -52px;
        left: 36%;
        font-size: 18px;
        color: $black;
    }
    & .circle_text4 {
        writing-mode: initial;
        transform: rotate(180deg);
        display: inline-block;
        position: absolute;
        left: -26px;
        top: 170px;
        font-size: 18px;
        color: $black;
    }
    & .circle_text5 {
        writing-mode: tb-rl;
        transform: rotate(270deg);
        display: inline-block;
        position: absolute;
        bottom: -59px;
        right: 32%;
        font-size: 18px;
        color: $black;
    }
    & .circle_text6 {
        writing-mode: initial;
        transform: rotate(180deg);
        display: inline-block;
        position: absolute;
        top: 170px;
        left: -102px;
        font-size: 18px;
        color: $black;
    }
    & .circle_text7 {
        writing-mode: tb-rl;
        transform: rotate(270deg);
        display: inline-block;
        position: absolute;
        bottom: -90px;
        right: 39%;
        font-size: 18px;
        color: $black;
    }   
}
@media #{$tablet}{
    .section_roadmap {
        & .road-wave {
            display: block;
        }
        & .road-wave-mobile {
            display: none;
        }
        & .direction-mobile-visible {
            display: none;
        }
    }
}
@media #{$tablet1} {
    .section_roadmap {
        & .scrolling-wrapper {
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
            overflow-y: hidden;
        }
        & .road-wave {
            min-width: auto;
            width: 95%;
            & .map {
                line-height: 95px;
                width: 95px;
                height: 95px;
                font-size: 18px;
            }
            & .circle1 {
                top: 35%;
            }
            & .circle2 {
                top: 3%;
            }
            & .circle3 {
                top: 35%;
            }
            & .circle4 {
                top: 3%;
            }
            & .circle5 {
                writing-mode: vertical-lr;
                position: absolute;
                left: 58.8%;
                top: 35%;
            }
            & .circle6 {
                top: 3%;
            }
            & .circle7 {
                top: 35%;
            }
            & .circle_text2 {
                top: 200px;
                left: 0;
            }
            & .circle_text4 {
                top: 200px;
                right: 12%;
            }
            & .circle_text6 {
                top: 200px;
                left: -79%;
            }
        } 
    }
}
@media #{$tablet2} {
    .section_roadmap {
        & .scrolling-wrapper {
            padding-top: 60px;
        }
        & .road-wave {
            & .circle1 {
                left: 4%;
                top: 33%;
            }
            & .circle2 {
                left: 18%;
                top: 4%;
            }
            & .circle3 {
                left: 31.7%;
                top: 33%;
            }
            & .circle4 {
                left: 45.7%;
                top: 4%;
            }
            & .circle5 {
                left: 59.5%;
                top: 33%;
            }
            & .circle6 {
                left: 73.4%;
                top: 4%;
            }
            & .circle7 {
                left: 87.2%;
                top: 33%;
            }
            & .circle_text2 {
                top: 220px;
                left: 9%;
            }
            & .circle_text4 {
                top:220px;
            }
            & .circle_text6 {
                top: 220px;
                left: -47%;
            }
        }
        
    }
}
@media #{$desktop} {
    .section_roadmap {
        & .road-wave {
            width: 100%;
            margin: 0 auto;
            & .map {
                width: 116px;
                height: 116px;
                line-height: 116px;
            }
            & .circle1 {
                top: 30%;
            }
            & .circle2 {
                top: 1%;
            }
            & .circle3 {
                top: 30%;
            }
            & .circle4 {
                top: 1%;
            }
            & .circle5 {
                top: 30%;
            }
            & .circle6 {
                top: 1%;
            }
            & .circle7 {
                top: 30%;
            }
            
        }
    }
}
