/* ------------------------------------------------------------ *\
 Button
\* ------------------------------------------------------------ */
.btn { 
    background: linear-gradient(to bottom, #faee49 0%, #faa71a 100%);
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    transition: ease-in-out .3s;
    text-align: center;
    font-size: 18px;
    text-transform:uppercase;
    min-width: 240px;
    height: 57px;
    line-height: 57px;
    font-family: $font-family;
    font-weight: 700;
    // border-radius: 5px;
    border-radius: 10px;
    // height: 50px;
    // line-height: 50px;
    color: $white;
    border: transparent;
    position: relative;
    cursor: pointer;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    &:focus {
        color: $white;
    }
    &:hover {
        color: $white;
        background-position: 100% 0;
        moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        background: linear-gradient(to bottom, #faa71a 0%, #faee49 100%);
        
    }
}
// .read_more {
//     // background: linear-gradient(to right, #0f7076 0%, #06ba70 100%);
//     &:hover {
//         color: $white;
//         background-position: 100% 0;
//         moz-transition: all .1s ease-in-out;
//         -o-transition: all .1s ease-in-out;
//         -webkit-transition: all .1s ease-in-out;
//         transition: all .1s ease-in-out;
//         // background-image: linear-gradient(to right, #06ba70, #0f7076);
//         // box-shadow: 0 4px 15px 0 rgba(7, 80, 85, 0.75);
//     }
// }
.btn_main {
    border: transparent;
    background: linear-gradient(to bottom, #faee49, #faa71a);
    border-radius: 10px;
    min-width: 190px;
    color:$white;
    margin: 20px auto;
    letter-spacing: 1px;
    
    &:hover,
    &:focus,
    &:active {
        color: $white;
        background: linear-gradient(to bottom, #faa71a, #faee49);
        opacity: 1;
        background-position: 100% 0;
        moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }
    &.video_play {
        color:$white;
        background: transparent;
        text-transform: none;
        & i {
            margin-right: 10px;
            display: block;
        }
    }
}
.btn_main_fixed {
    float: right;
    font-size: 13px;
    min-width: 80px;
    height: 40px;
    line-height: 40px;
    color:$white;
    background: linear-gradient(to bottom, #faee49, #faa71a);
    &:hover {
        color:$white;
        background: linear-gradient(to bottom, #faa71a, #faee49);
    }
    
    
}
#onePagerHeader {
   opacity: 0;
    &.visible {
        opacity: 1;
    }
}
.btn_register {
    display: block;
    min-width: 208px;
    margin-top: 30px;
    
}
.main_btns-desktop {
    display: none;
}
.main_btns-mobile {
    display: block;
    width: 190px;
    margin: 0 auto;
}

@media screen and (min-width:620px){
    .btn_main_fixed {
        font-size: 14px;
        min-width: 180px;
    }
}
@media #{$tablet} {
    .btn_form {
        text-align: center;
        & .btn_register {
            display: inline-block;
            min-width: 435px;
            margin: 30px auto 0;
        }
    }
    .btn_main {
        margin: 0 5px 0;
        &.video_play {
            & i {
                display: inline-block;
            }
        }
    }
}
@media #{$tablet1} {
   
    .main_btns-desktop {
        display: block;
        margin: 20px 0;
    }
    .main_btns-mobile {
        display: none;
    }
}
@media #{$desktop} {
    
    .btn_main {
        margin: 0 20px 0 0;
    }
}

